html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f2937;
  font-family: "Roboto", sans-serif;
}

p {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.container-fw {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.container-maxw {
  width: 100%;
  max-width: 1100px;
}

.container-maxw.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
}

.container.flex {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-bottom: 4rem;
}

.bg-white {
  background-color: white;
}

.bg-grey {
  background-color: #e5e7eb;
}
.container.links {
  display: flex;
  gap: 2rem;
}

.container.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 10rem;
  text-wrap: wrap;
}

.container.content p {
  text-align: center;
  margin-top: 0.5rem;
  color: #1f2937;
}
.link,
.subtext {
  color: #e5e7eb;
  font-size: 18px;
}

.subtext {
  margin-top: 8px;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 700;
}

.hero {
  display: flex;
  padding: 6rem 1rem;
}

.hero-content {
  width: 50%;
  padding-right: 4rem;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0 2rem 0 0;
}

h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  margin-bottom: 4rem;
}

.placeholder {
  width: 50%;
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-ltblue {
  background-color: #3882f6;
}
.button {
  margin: 1rem 0;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  color: #f9faf8;
  font-size: 18px;
  font-weight: 600;
  border: none;
}

.b-white {
  border: solid;
  border-width: 2px;
  border-color: #f9faf8;
}

.box {
  width: 10rem;
  height: 10rem;
  border-radius: 20px;
  border: solid;
  border-width: 4px;
  border-color: #3882f6;
}

.container.quote {
  display: flex;
  flex-direction: column;
  width: 75%;
  justify-content: center;
  margin: 6rem 2rem 4rem;
}
p.quote {
  font-size: 36px;
  font-weight: 300;
  color: #1f2937;
  font-style: italic;
  padding: 0 1rem;
}

p.source {
  font-size: 22px;
  font-weight: 700;
  color: #1f2937;
  text-align: end;
  padding-right: 4rem;
}

.call-to-action {
  margin: 4rem 2rem 2rem;
  display: flex;
  justify-content: space-between;
  padding: 2rem 8rem;
  border-radius: 10px;
}

.container.call-to-action {
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.call-to-action > p {
  color: #f9faf8;
}

.t-bold {
  font-weight: 600;
  font-size: 24px;
}

.footer {
  margin-top: 2rem;
  color: #f9faf8;
}
